@import "tailwindcss";
@tailwind utilities;

:root {
  --bg: #0a0a0a;
  --fg: #ffffff;
  --muted: #8b8b8b;
  --accent: #5eead4;
}

html,
body {
  background: var(--bg);
  color: var(--fg);
  /* font-family: var(--font-quicksand); */
  overscroll-behavior: none;
}

::selection {
  background: var(--accent);
  color: #000;
}
