@import "tailwindcss";
@tailwind utilities;

:root {
  --bg: #0a0a0a;
  --fg: #ffffff;
  --muted: #8b8b8b;
  --accent: #7019e242;
}

html,
body {
  background: var(--bg);
  color: var(--fg);
  /* font-family: var(--font-quicksand); */
  overscroll-behavior: none;
}

::selection {
  background: var(--accent);
  color: #000;
}

.waveHand {
  animation: wave-animation 2.5s ease-in-out infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(6deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
